h2 {
    margin-top: 0px;
    font-size: 60px;
}

p {
    text-indent: 20px;
    font-size: 40px;
    
}

.friendly {
    border: 10px solid green;
    padding: 10px;
    margin: 10px;
    float: left;
    width: 47%;
    border-radius: 10px;
}

.predator {
    border: 10px solid red;
    padding: 10px;
    margin: 10px;
    float: right;
    width: 47%;
    border-radius: 10px;
}

.pic {
    width: 100%;
    margin-bottom: 50px;
}

.clear {
    clear: both;
}