

/* The navigation bar */


.navbar {
    overflow: hidden;
    
    background-color: rgb(81, 24, 135);
    margin-left: -10px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.navbar a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    font-weight: bold;
    font-size: 180%;
    padding: 14px 16px;
    margin-right: 10px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background: bisque;
    color: rgb(81, 24, 135);
}


/* MAIN */

.main {
    padding: 40px;
}

h1 {
    font-size: 300%;
    text-align: center;
    color: red;
    margin-top: 80px;
}

h2 {
    font-size: 200%;
    text-align: center;
    color: rgb(255, 157, 0);
    
}

p {
    text-indent: 30px;
}

body {
    background-color: black;
}

.pic {
    float: left;
    margin-right: 60px;
    margin-bottom: 30px;
    height: 600px;
    width: auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* MAIN-INFO */

.info-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    width: 1400px;
}

.info-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
}

.info-img img {
    width: 400px;
    height: auto;
    border-radius: 40px;
    vertical-align: middle;
}

.info-name {
    padding: 10px;
}

.info-name span {
    font-size: 40px;
    font-weight: 700;
    color: rgb(56, 190, 7);
}

.info-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 40px;
    background-color: rgb(28, 142, 123);
}

.info-desc p{
    width: 90%;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    color: rgb(208, 228, 77);
}

.info-text {
    font-size: 32px;
    color:rgb(231, 147, 36);
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 50px;
    
}

/* secong page */

.sec-pg {
    padding: 0px;
}

.sec-pg p{
    width: 90%;
    font-size: 28px;
    line-height: 40px;
    text-align: left;
    color: rgb(208, 228, 77);
}

.infor-img {
    float: left;
    width: 500px;
    height: auto;
    border-radius: 40px;
    margin-right: 40px;
}

/* third page */

.bg {
    background-image: linear-gradient(to bottom, #f7ce00, #000000);
}